<div class="template">
  <div class="title">
    <img src="../assets/images/www-05.png" />
  </div>
  <div class="banner">
    <img src="../assets/images/www-06.png" />
  </div>
  <div class="about-us">

    <div class="sub-title">About Us</div>
    <p>復刻焚香的儀式感，也探索燃燒的草木在現代生活中更愉悅親切的存在。信任植材木訥憨實外表下迷人的原 始能量，依賴職人雙手的溫度與熱忱的心力，遵循簡單清晰的製香配方。樹木、香料、藥材研磨成分，蜂蜜
      黏合，自然風乾，醇厚的味道追逐綿密的煙火氣，既活潑也內斂。用一炷香，暫別喧囂的日常，進入安靜澄 明的場域，枯坐、寫字、冥想、內觀、療愈，等徐來的覺知靈感，給獨自打發的時光。</p>

    <p>ENABLE: incense are created with a foundation of sandalwood, agar wood, or cedar that is delicately blended with
      aromatic spices and herbal medicine. The ingredients are finely ground and mixed with pure water and organic
      honey, then
      handcrafted by experienced artisans to form its shape.</p>
    <p>
      We allow our incense sticks to repose and air-dry naturally to preserve its aromas. When lit, the soft drift of
      smoke
      creates sculptural movements that illuminate the room and uplift a sense of peace.
    </p>
    <p>
      We believe that burning incense can transcend time and space, elevate one’s environment, and offer tranquility in
      the
      midst of modern living. Beyond simply indulging in the scent, ENABLE: is intent on encouraging modern individuals
      to
      take a moment to embrace the present and reconnect with the inner self.
    </p>

  </div>
  <div class="collections">
    <div class="sub-title">Collection</div>
    <img src="../assets/images/www-06.png" />
    <div class="vol">
      <p>Vol.1</p>
      <p>Sandalwood | Honey</p>
      <p>Vol.2</p>
      <p>Agarwood | Clove | Camphor | Honey</p>
      <p>Vol.3</p>
      <p>Cedar | Mint | Honey</p>
    </div>
  </div>
  <div class="sale">
    <div class="sub-title capitalize">WHOLESALE ENQUIRY</div>
    <p>Would you like to become our stockist? Feel free to contact us. </p>
    <p>Contact email: info@enable-incense.com</p>
  </div>
  <div class="coming-soon">
    <p>The list is currently being updated...</p>
  </div>
  <div class="social-media">
    <img src="../assets/images/www-03.png" /><img src="../assets/images/www-04.png" />
  </div>
  <footer>2020 © ENABLE: All rights reserved</footer>
</div>